In [152]:
import pandas as pd

In [153]:
# Read the data
artistas = pd.read_csv('Artistas.csv', sep=',')
artistas = artistas.drop_duplicates()

entradas = pd.read_csv('Entradas Cortesia.csv', sep=',')
entradas = entradas.drop_duplicates()

eventos = pd.read_csv('Eventos.csv', sep=',')
eventos = eventos.drop_duplicates()

hosp_traslados = pd.read_csv('Hospedajes y Traslados.csv', sep=',')
hosp_traslados = hosp_traslados.drop_duplicates()

productoras = pd.read_csv('Productoras.csv', sep=',')
productoras = productoras.drop_duplicates()

tour = pd.read_csv('Tour.csv', sep=',')
tour = tour.drop_duplicates()


artistas = artistas.rename(columns={'Nombre artistico': 'Artista'})
entradas = entradas.rename(columns={'evento': 'Evento'})
entradas = entradas.rename(columns={'artista': 'Artista'})

In [154]:
entradas

                  Evento asiento                Artista
0                Bangerz     D15            Miley Cyrus
1         I Aint Worried     A17           One Republic
2            Show Forest     A12          One Direction
3              Bang Bang     C30               Jessie J
4               DJ Snake     D12               DJ Snake
..                   ...     ...                    ...
270  Say you wont let go     A30           James Arthur
273            Epic Show     A29  The Martinez Brothers
283              Que oso     B28                   Snow
293           Fruta y te      C0                   Gepe
300    Beyond Wonderland     D26             Marshmello

[145 rows x 3 columns]

In [155]:
artistas['id'] = range(1, len(artistas) + 1)
entradas['id'] = range(1, len(entradas) + 1)
eventos['id'] = range(1, len(eventos) + 1)
hosp_traslados['id'] = range(1, len(hosp_traslados) + 1)
productoras['id'] = range(1, len(productoras) + 1)
tour['id'] = range(1, len(tour) + 1)

In [156]:
entradas = entradas.merge(artistas[['id', 'Artista']], on='Artista', how='left')
entradas = entradas.rename(columns={'id_x': 'id_entrada', 'id_y': 'id_artista'})
eventos = eventos.merge(artistas[['id', 'Artista']], on='Artista', how='left')
eventos = eventos.rename(columns={'id_x': 'id_evento', 'id_y': 'id_artista'})
entradas = entradas.drop(columns=['Artista'])
eventos = eventos.drop(columns=['Artista'])
entradas = entradas.merge(eventos[['id_evento', 'Evento']], on='Evento', how='left')
entradas = entradas.drop(columns=['Evento'])

In [157]:
entradas = entradas.rename(columns={'id_entrada': 'ID_entrada', 'id_artista': 'ID_artista', 'id_evento': 'ID_evento'})
artistas = artistas.rename(columns={'Artista': 'Nombre', 'id': 'ID_artista', 'Inicio carrera': 'Fecha_inicio', 'Nº contacto': 'Contacto'})
artistas['Artista'] = artistas['Nombre'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
artistas = artistas.drop(columns=['Artista'])
# export artistas to csv
artistas.to_csv('artistas_bdd.csv', index=False)
# export entradas to csv
entradas.to_csv('entradas_bdd.csv', index=False)